<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Let's start searching jobs!!</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Fresher Jobs</h2>
        <p>Login to apply for fresher jobs for free.</p>
        <p>Minimum CTC 3 LPA</p>
        <p>100% verified jobs</p>

        <h2>Work From Home</h2>
        <p>Are you looking for online jobs/internships or work from home??</p>
        <p>Login to view available jobs</p>

        <h2>Engineering Internships</h2>
        <p>Find the best summer internships for 2021 for engineering students of different branches!!</p>
      </div>

      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h2>Get ahead. Get an Internship!</h2>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <dl>
              <dt></dt>
              <dd>10,000+ internships with stipend</dd>
              <dd>Apply for free</dd>
            </dl>

            <p>
              <a mat-button routerLink="/home" class="background-primary text-floral-white">
                <span class="fa fa-sign-in fa-lg"></span>Login
              </a>
            </p>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Choose a job you love, and you never have to work a day in your life.</h3>
        <footer>-- Confucius</footer>
      </blockquote>
    </mat-card>
  </div>

</div>